<div class="container" style="max-width: 540px">
  <h2 class="mb-3">Add vehicle</h2>
  <form>
    <div class="form-group">
      <label for="makes">Make:</label>
      <select class="form-control" id="makes">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="models">Model:</label>
      <select class="form-control" id="models">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <label>Is this vehicle registered?:</label>
    <fieldset class="form-group">
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1"> Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2"> No
        </label>
      </div>
    </fieldset>

    <label>Features:</label>
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Feature 1
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Feature 2
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Feature 3
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="name">Contact Name:</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="phone">Contact Phone:</label>
        <input type="text" class="form-control" id="phone">
    </div>
    <div class="form-group">
        <label for="email">Contact Email:</label>
        <input type="text" class="form-control" id="email">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
